<div class="max-w-5xl mx-auto py-10">

  <h1 class="text-4xl font-bold mb-8 text-gray-800">
    Your Orders
  </h1>

  <%
    orders = @user
               .orders
               .includes(line_items: :product)
  %>

  <% if orders.any? %>

    <% orders.each do |order| %>
      <%= render partial: 'users/order', locals: { order: order} %>
    <% end %>

  <% else %>

    <div class="bg-white p-6 rounded-xl shadow text-center border border-gray-200">
      <p class="text-gray-600 text-lg">
        You have no orders yet.
      </p>
    </div>

  <% end %>

</div>
