<fieldset 
  data-payment-target="additionalFields" 
  data-type="Purchase order"
  class="mt-6 bg-gray-50 p-6 rounded-xl shadow-inner"
>
  <div class="mb-6">
    <%= form.label t('.po_number'), class: "block font-medium text-gray-700" %>
    <%= form.number_field :po_number, class: " border border-gray-200 input-field" %>
  </div>
</fieldset>
